---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import { getCollection } from "astro:content";
import type Store from "../interfaces/Store";
import { slugifyStr } from "@utils/slugify";

const stores = await getCollection("stores");
const store = stores?.[0]?.data as unknown as Store;

// Retrieve all published articles
const posts = await getCollection("posts");

// List of items to search in
const searchList = posts.map(({ data, id }) => ({
  title: data.Title,
  description: data.SEO?.metaDescription,
  data,
  slug: `/blog/${id}-${slugifyStr(data.Title)}`,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" store={store} />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer activeNav="search" />
</Layout>
