---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { markketplace } from "@config";
import HeroImage from "@components/HeroImage.astro";
import CheckoutModal from "@components/checkout/CheckoutModal";

import { marked } from "marked";

import { getCollection } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import Hr from "@components/Hr.astro";
import type { Price } from "scripts/ui.product";

export interface Props {
  currentPage: number;
  totalPages: number;
  stores: CollectionEntry<"stores">[];
  product?: CollectionEntry<"products">;
}

export async function getStaticPaths() {
  const products = await getCollection("products");

  const productsResult = products.map(product => ({
    params: {
      slug: `${product.data.slug || slugifyStr(product.data.Name)}`,
    },
    props: { product },
  }));

  return [...productsResult];
}

const { product } = Astro.props;

const stores = await getCollection("stores");
const store = stores.find(store => store.data.slug == markketplace.STORE_SLUG);

const htmlDescription = marked.parse(product?.data?.Description || "");
const prices = product?.data?.PRICES || [];
const selectedImage =
  product?.data?.Thumbnail || product?.data?.SEO?.socialImage || {};
---

<script>
  import { ProductSlideshow } from "../../scripts/ui.product";
  document.addEventListener("astro:page-load", () => {
    ProductSlideshow();
  });
</script>

<Layout
  title={`${product?.data?.Name} | ${store?.data?.title}`}
  meta={{
    title: product?.data?.SEO?.metaTitle,
    image: product?.data?.Thumbnail?.url,
    description: product?.data?.SEO?.metaDescription,
  }}
>
  <Header store={store} />
  <Main
    pageTitle={product?.data?.Name as string}
    pageDesc={product?.data?.SEO?.metaDescription || "Product Details"}
  />
  <main class="product-page px-4 py-12 sm:px-6 lg:px-8">
    <div class="mx-auto w-full px-6">
      <div class="mb-10 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <div class="flex flex-col">
          <div class="aspect-w-3 aspect-h-4 overflow-hidden rounded-l pr-3">
            <HeroImage
              title={product?.data?.Name as string}
              image={selectedImage}
            />
          </div>
          <div class="mt-10 flex w-full flex-col justify-end">
            {
              product?.data?.Slides?.length > 0 && (
                <div class="">
                  <div class="grid grid-cols-6 gap-2">
                    {product?.data?.Slides?.map((slide: any) => {
                      return (
                        <div class="aspect-w-3 aspect-h-4 overflow-hidden rounded-lg">
                          <img
                            src={slide?.formats?.thumbnail?.url}
                            alt={slide?.alternativeText || ""}
                            data-astro-image={JSON.stringify(
                              slide?.formats?.small
                            )}
                            class="h-full w-full cursor-pointer object-cover object-center transition-opacity hover:opacity-75"
                            aria-description={slide?.caption || ""}
                          />
                        </div>
                      );
                    })}
                  </div>
                </div>
              )
            }
          </div>
        </div>
        <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
          <h1
            class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
          >
            {product?.data?.Name}
          </h1>

          {/* Product description */}
          <div class="mt-6">
            <div
              class="space-y-6 text-base text-gray-700 dark:prose-invert dark:text-gray-300"
              set:html={htmlDescription}
            />
          </div>
        </div>
      </div>
      <Hr />
      <div class="mt-6 flex justify-center">
        <CheckoutModal
          client:load
          prices={prices as Price[]}
          product={product}
          store={store as CollectionEntry<"stores">}
        />
      </div>
      <div class="m-4">
        <ol class="mt-4 text-sm text-gray-500">
          <li class="mb-2">
            We use Stripe to collect payments, and send payouts to the artists
          </li>
          <li class="mb-2">
            Currently we don't support a shopping cart, you can get one or
            multiple units of the same
            <em>Price</em> per transaction
          </li>
          <li class="mb-2">
            We notify the artist after a succesful transaction and forward your
            shipping details and email to them
          </li>
          <li class="mb-2">
            The artists will reach out with tracking details, or follow up steps
            to complete the transaction
          </li>
        </ol>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
